<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link href="<%= url('/normalize.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/ben.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/about_us.css') %>" rel="stylesheet" type="text/css" />
<body>
	<nav>
	 <ul>
	 	<li><a href="/home">Home</a></li>
	 	<li><a href="/about_us">Our Story</a></li>
	 	<li><a href="/contact_us">Contact Us</a></li>
	 </ul>
	<button>Rent Now</button>
	</nav>
	<div role="main">
	<%=yield%>
	</div>
	<div>
	<footer>
		<ul>
			<li>Copy</li>
			<li>item</li>
			<li>item2</li>
		</ul>
	</footer>
	</div role="contentinfo">
</body>
</html>